<div class='o-resume' [class]='cv.Styles?.Id' *ngIf='cv'>
   <div class='o-resume-page o-resume-content' *ngIf='cv.Personal'>
      <div class='o-resume-content-main'>
         <div class='o-resume-left'>
            <div class='o-resume-image' *ngIf='cv.Styles?.Image'>
               <img src='../assets/{{cv.Styles?.Id}}.jpg' alt='PICS'/>
            </div>
            <div class='o-resume-name'>
               {{ cv.Personal.FullName }}
            </div>
            <div class='o-current-title' *ngIf='cv.Personal.Title'>
               {{ cv.Personal.Title }}
            </div>

            <PersonalInfo [personal]='cv.Personal'></PersonalInfo>

            <Skills [skills]='cv.Roles' header='roles'></Skills>
            <Skills [skills]='cv.Skills' header='skills'></Skills>
            <Skills [skills]='cv.Foundations' header='foundations'></Skills>
            <Skills [skills]='cv.Tools' header='tools'></Skills>
            <Skills [skills]='cv.Products' header='products'></Skills>
            <Skills [skills]='cv.Domains' header='domains'></Skills>
            <Skills [skills]='cv.Languages' header='languages'></Skills>
            <Skills [skills]='cv.Hobbies' header='hobbies'></Skills>

            <EducationSection [educations]='cv.Education'></EducationSection>
            <Certificates [certificates]='cv.Certificates'></Certificates>

         </div>
         <div class='o-resume-right'>
            <Story [story]='cv.Story'></Story>
            <Status [statuses]='cv.Statuses'></Status>
            <Experience [experiences]='cv.Experiences'></Experience>
         </div>
      </div>
   </div>
   <div class='o-resume-page o-resume-content' *ngIf='cv.VisibleProjects && !cv.History'>
      <Projects [projects]='cv.VisibleProjects'></Projects>
   </div>
   <div class='o-resume-page o-resume-content' *ngIf='cv.History'>
      <HistoryList [histories]='cv.History'></HistoryList>
   </div
<div *ngIf='!cv'>
   <div>here we go again, loading...</div>
</div>
